.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after, .footer .left-side .soc li path, .footer .left-side .soc li, .menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon, .menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert, .coffee-item .img-container img, .main-page__footer .left-side button path, .main-page__footer .left-side button, .gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img, .favorite .right-arrow path, .favorite .left-arrow path, .favorite .right-arrow, .favorite .left-arrow, .main-page .video .menu-button::after, .main-page .video .menu-button, .main-menu li .active::after {
  transition: 1s;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class],
menu[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
menu[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class], menu[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration-color: transparent;
  color: inherit;
}

body {
  background-color: #E1D4C9;
}

.italic {
  font-style: italic;
  color: #B0907A;
}

button {
  border: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

input, label {
  cursor: pointer;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after, .footer .left-side .soc li path, .footer .left-side .soc li, .menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon, .menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert, .coffee-item .img-container img, .main-page__footer .left-side button path, .main-page__footer .left-side button, .gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img, .favorite .right-arrow path, .favorite .left-arrow path, .favorite .right-arrow, .favorite .left-arrow, .main-page .video .menu-button::after, .main-page .video .menu-button, .main-menu li .active::after {
  transition: 1s;
}

.main-header .container {
  height: 100px;
}

.main-menu {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  color: #403F3D;
  width: 100%;
  height: 100%;
}
.main-menu .logo-button {
  width: 100px;
  height: 60px;
  background-image: url("./assets/icons/logo.svg");
}
.main-menu .menu-button {
  background-image: url("./assets/icons/coffee-cup.svg");
  width: 80px;
  text-align: left;
  background-position: right top;
  height: 20px;
}
.main-menu li {
  margin: 0 14px;
}
.main-menu li:nth-child(2) {
  margin-left: 24px;
}
.main-menu li .active {
  position: relative;
}
.main-menu li .active::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #403F3D;
  bottom: -7px;
  left: 50%;
}
.main-menu li .active:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.main-menu li:has(.logo-button) {
  margin-right: auto;
  margin-left: 0;
}
.main-menu li:has(.menu-button) {
  margin-left: auto;
  margin-right: 0;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after, .footer .left-side .soc li path, .footer .left-side .soc li, .menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon, .menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert, .coffee-item .img-container img, .main-page__footer .left-side button path, .main-page__footer .left-side button, .gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img, .favorite .right-arrow path, .favorite .left-arrow path, .favorite .right-arrow, .favorite .left-arrow, .main-page .video .menu-button::after, .main-page .video .menu-button, .main-menu li .active::after {
  transition: 1s;
}

.main-page .video {
  height: 644px;
  color: #E1D4C9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-image: url("./assets/images/img-hero.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 40px;
}
.main-page .video .content-container {
  margin-right: auto;
  padding-top: 101px;
  padding-left: 100px;
  width: 620px;
  height: 100%;
}
.main-page .video .video-title {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 75.6px;
  margin-bottom: 40px;
}
.main-page .video .video-description {
  margin-bottom: 40px;
}
.main-page .video .menu-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background-color: #E1D4C9;
  color: #403F3D;
  position: relative;
}
.main-page .video .menu-button:hover {
  padding-right: 34px;
}
.main-page .video .menu-button:hover::after {
  opacity: 1;
}
.main-page .video .menu-button::after {
  content: "";
  top: 22px;
  right: 64px;
  background-image: url("./assets/icons/coffee-cup.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after, .footer .left-side .soc li path, .footer .left-side .soc li, .menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon, .menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert, .coffee-item .img-container img, .main-page__footer .left-side button path, .main-page__footer .left-side button, .gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img, .favorite .right-arrow path, .favorite .left-arrow path, .favorite .right-arrow, .favorite .left-arrow, .main-menu li .active::after, .main-page .video .menu-button, .main-page .video .menu-button::after {
  transition: 1s;
}

.favorite {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
}
.favorite .favorite-title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  color: #403F3D;
}
.favorite .main-slider__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 39px;
}
.favorite .right-arrow, .favorite .left-arrow {
  width: 60px;
  height: 60px;
  border: 1px solid #665F55;
  border-radius: 50%;
  margin: 0 4px;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorite .right-arrow:hover, .favorite .left-arrow:hover {
  background-color: #665F55;
}
.favorite .right-arrow:hover path, .favorite .left-arrow:hover path {
  stroke: #E1D4C9;
}
.favorite .right-arrow {
  transform: rotate(180deg);
}
.favorite .slider-item {
  width: 480px;
}
.favorite .slider-item .slider-item__img {
  margin-bottom: 20px;
}
.favorite .slider-item__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 16px;
}
.favorite .slider-item__description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 17px;
}
.favorite .slider-item__price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.favorite .slider-indication {
  margin: 0 auto;
  height: 4px;
  width: 144px;
  display: flex;
  justify-content: space-between;
}
.favorite .slider-indication__item {
  height: 4px;
  width: 40px;
  border-radius: 100px;
  background-color: #C1B6AD;
}
.favorite .slider-indication__item.active {
  background-color: #665F55;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after, .footer .left-side .soc li path, .footer .left-side .soc li, .menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon, .menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert, .coffee-item .img-container img, .main-page__footer .left-side button path, .main-page__footer .left-side button, .gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img, .main-menu li .active::after, .main-page .video .menu-button, .main-page .video .menu-button::after, .favorite .right-arrow, .favorite .left-arrow, .favorite .right-arrow path, .favorite .left-arrow path {
  transition: 1s;
}

.gallery .title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 40px;
}
.gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(106, 1fr);
  height: 1060px;
  width: 1360px;
  margin: 0 auto;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.gallery .img1, .gallery .img2, .gallery .img3, .gallery .img4 {
  width: 660px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img {
  scale: 1.1;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .img1 img:hover, .gallery .img2 img:hover, .gallery .img3 img:hover, .gallery .img4 img:hover {
  scale: 1;
}
.gallery .img1 {
  height: 590px;
  grid-area: 1/1/59/1;
}
.gallery .img1 img {
  -o-object-position: 0px -32px;
     object-position: 0px -32px;
}
.gallery .img2 {
  height: 430px;
  grid-area: 63/1/106/1;
  margin-top: -3px;
}
.gallery .img2 img {
  -o-object-position: 0px -104px;
     object-position: 0px -104px;
}
.gallery .img3 {
  height: 430px;
  grid-area: 1/2/43/2;
}
.gallery .img3 img {
  -o-object-position: 0px -105px;
     object-position: 0px -105px;
}
.gallery .img4 {
  height: 590px;
  grid-area: 47/2/106/2;
}
.gallery .img4 img {
  -o-object-position: 0px -32px;
     object-position: 0px -32px;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after, .footer .left-side .soc li path, .footer .left-side .soc li, .menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon, .menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert, .coffee-item .img-container img, .main-page__footer .left-side button path, .main-page__footer .left-side button, .main-menu li .active::after, .main-page .video .menu-button, .main-page .video .menu-button::after, .favorite .right-arrow, .favorite .left-arrow, .favorite .right-arrow path, .favorite .left-arrow path, .gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img {
  transition: 1s;
}

.main-page__footer {
  height: 830px;
  display: flex;
  justify-content: space-between;
  padding-top: 105px;
}
.main-page__footer .left-side {
  width: 50%;
  height: 100%;
  padding-top: 139px;
}
.main-page__footer .left-side .footer-title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 40px;
  padding-right: 60px;
}
.main-page__footer .left-side .footer-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
  padding-right: 60px;
}
.main-page__footer .left-side button {
  height: 64px;
  width: 200px;
  border: 1px solid #665F55;
  border-radius: 100px;
  margin-right: 16px;
  background-size: inherit;
  background-position-x: 20px;
  display: inline-flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}
.main-page__footer .left-side button svg {
  margin-right: 8px;
}
.main-page__footer .left-side button:hover {
  color: #E1D4C9;
  background-color: #665F55;
}
.main-page__footer .left-side button:hover path {
  fill: #E1D4C9;
}
.main-page__footer .left-side button .app-button__top {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  display: block;
  text-align: left;
}
.main-page__footer .left-side button .app-button__down {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: block;
  margin-top: 2px;
}
.main-page__footer .right-side {
  background-image: url("./assets/images/mobile-screens.png");
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: -5px;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after, .footer .left-side .soc li path, .footer .left-side .soc li, .menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon, .menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert, .coffee-item .img-container img, .main-menu li .active::after, .main-page .video .menu-button, .main-page .video .menu-button::after, .favorite .right-arrow, .favorite .left-arrow, .favorite .right-arrow path, .favorite .left-arrow path, .gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img, .main-page__footer .left-side button, .main-page__footer .left-side button path {
  transition: 1s;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after, .footer .left-side .soc li path, .footer .left-side .soc li, .menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon, .menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert, .coffee-item .img-container img, .main-menu li .active::after, .main-page .video .menu-button, .main-page .video .menu-button::after, .favorite .right-arrow, .favorite .left-arrow, .favorite .right-arrow path, .favorite .left-arrow path, .gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img, .main-page__footer .left-side button, .main-page__footer .left-side button path {
  transition: 1s;
}

.coffee-item {
  height: 506px;
  width: 310px;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  color: #403F3D;
}
.coffee-item .img-container {
  height: 310px;
  width: 310px;
  border-radius: 40px;
  overflow: hidden;
}
.coffee-item .img-container img {
  scale: 1.1;
}
.coffee-item .img-container:hover img {
  scale: 1;
}
.coffee-item .text-content {
  padding: 20px;
  height: 196px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.coffee-item .title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 12px;
}
.coffee-item .description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: auto;
}
.coffee-item .price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.menu-page .menu-title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
  padding: 0 260px;
  margin-bottom: 40px;
}
.menu-page .menu-select {
  margin: 0 auto 40px;
  text-align: center;
}
.menu-page .menu-select input {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
}
.menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert {
  display: inline-flex;
  align-items: center;
  height: 46px;
  padding-left: 7px;
  padding-right: 15px;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #C1B6AD;
  background-repeat: no-repeat;
  background-position: center;
}
.menu-page .select-coffee:hover, .menu-page .select-tea:hover, .menu-page .select-dessert:hover {
  background-color: #665F55;
  background-color: #665F55;
  color: #E1D4C9;
}
.menu-page .select-coffee:hover .icon, .menu-page .select-tea:hover .icon, .menu-page .select-dessert:hover .icon {
  background-color: #E1D4C9;
}
.menu-page .select-coffee .icon {
  background-image: url("./assets/icons/menu-cofee.png");
}
.menu-page .select-tea {
  margin: 0 12px;
}
.menu-page .select-tea .icon {
  background-image: url("./assets/icons/menu-tea.png");
}
.menu-page .select-dessert .icon {
  background-image: url("./assets/icons/menu-dessert.png");
}
.menu-page input:checked + label {
  background-color: #665F55;
  background-color: #665F55;
  color: #E1D4C9;
  cursor: default;
}
.menu-page input:checked + label .icon {
  background-color: #E1D4C9;
}
.menu-page .menu-items {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after, .footer .left-side .soc li path, .footer .left-side .soc li, .main-menu li .active::after, .main-page .video .menu-button, .main-page .video .menu-button::after, .favorite .right-arrow, .favorite .left-arrow, .favorite .right-arrow path, .favorite .left-arrow path, .gallery .img1 img, .gallery .img2 img, .gallery .img3 img, .gallery .img4 img, .main-page__footer .left-side button, .main-page__footer .left-side button path, .coffee-item .img-container img, .menu-page .select-coffee, .menu-page .select-tea, .menu-page .select-dessert, .menu-page .select-coffee .icon, .menu-page .select-tea .icon, .menu-page .select-dessert .icon {
  transition: 1s;
}

.footer {
  padding-bottom: 20px;
}
.footer .container {
  display: flex;
  width: 1360px;
  background-color: #665F55;
  border-radius: 40px;
  height: 450px;
  padding-top: 100px;
  padding-left: 100px;
  color: #E1D4C9;
}
.footer .left-side {
  height: 100%;
  width: 50%;
  padding-right: 30px;
}
.footer .left-side .footer-title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 40px;
}
.footer .left-side .soc {
  display: flex;
}
.footer .left-side .soc li {
  margin-right: 12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #E1D4C9;
  padding-top: 17px;
  padding-left: 17px;
}
.footer .left-side .soc li:hover {
  cursor: pointer;
  background-color: #E1D4C9;
}
.footer .left-side .soc li:hover path {
  stroke: #403F3D;
}
.footer .right-side {
  height: 100%;
  width: 50%;
  padding-top: 32px;
  padding-left: 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #E1D4C9;
}
.footer .right-side .right-side__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 40px;
}
.footer .right-side .contacts li {
  margin-bottom: 20px;
  padding-left: 28px;
  background-repeat: no-repeat;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .right-side .contacts span {
  margin-left: 4px;
}
.footer .right-side .contacts .adres {
  background-image: url("./assets/icons/pin-alt.svg");
}
.footer .right-side .contacts .tel {
  background-image: url("./assets/icons/phone.svg");
}
.footer .right-side .contacts .time {
  background-image: url("./assets/icons/clock.svg");
}
.footer .right-side .contacts .tel::after, .footer .right-side .contacts .adres::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #E1D4C9;
  bottom: -7px;
  left: 50%;
}
.footer .right-side .contacts .tel:hover::after, .footer .right-side .contacts .adres:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}/*# sourceMappingURL=style.css.map */