@import  './../variables';

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .field__row{
        display: flex;
        &.border__row{
            border-top: 1px solid $border;
        }
    }
    .cell{
        width: 20px;
        height: 20px;
        border-bottom: 1px solid $border;
        border-right: 1px solid $border; 
        cursor: pointer;       

        &.border__column{
            border-left: 1px solid $border;
        }
        &.shaded{
            background-color: $main;
        }
        &.cross{
            position: relative;
            &::after{
                position: absolute;
                content: '';
                width: 130%;
                height: 2px;
                top: 0px;
                left: 1px;
                transform-origin: 0 0;
                transform: rotate(45deg);
                background-color: $main;
            }
            &::before{
                position: absolute;
                content: '';
                width: 130%;
                height: 2px;
                bottom: 0;
                left: 0;
                transform-origin: 0 0;
                transform: rotate(-45deg);
                background-color: $main;
            }
        }
    }
}