@import  './../mainstyle';

.field-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: fit-content;
    border: 2px solid $border;
    // .field__top{

    // }
    .field__bottom{
        display: flex;

    }
}
        // const topField = this.createBaseComponent('div', ['field__top'], appFieldContainer);
        // const bottomField = this.createBaseComponent('div', ['field__bottom'], 