$textDark: #403F3D;
$textLight: #E1D4C9;
$textAccent: #B0907A;

$backgroundBody: #E1D4C9;
$backgroundContainer: #665F55;
$backgroundBackdrop: #403F3DCC;

$borderLight: #C1B6AD;
$borderDark: #665F55;

@mixin textStyle($size, $height, $weight: 600){
    font-family: 'Inter', sans-serif;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

%flex-element-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%container{
    width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

%border{
    border: 1px solid red;
}