.buttons-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    padding-left: 30px;
    margin-top: 45px;
    @media screen and (max-width: 700px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
        max-width: 700px;
        padding-left: 0;
        justify-content: center;
       // align-items: center;
    }
}