@import "./../abstracts/variables";

.favorite{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
    .favorite-title{
        
        @include textStyle(60px, 75px);
        color: $textDark;
    }
    .main-slider__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 40px;
        margin-bottom: 39px;
    }
    .right-arrow, .left-arrow{
       background-image: url("./assets/icons/arrow-left.svg");
       width: 60px;
       height: 60px;
       border: 1px solid $borderDark;
       border-radius: 50%;
       margin: 0 4px;
       background-size: auto;
    }
    .right-arrow{
        transform: rotate(180deg);
    }
    .slider-item{
        width: 480px;
    .slider-item__img{
        margin-bottom: 20px;
    }
    }
    .slider-item__title{
        @include textStyle(24px, 30px);
        margin-bottom: 16px;

    }
    .slider-item__description{
        @include textStyle(16px, 24px, 400);
        margin-bottom: 17px;

    }
    .slider-item__price{
        @include textStyle(24px, 30px);
    }
    .slider-indication{
        margin: 0 auto;
        height: 4px;
        width: 144px;
        display: flex;
        justify-content: space-between;
    }
    .slider-indication__item{
        height: 4px;
        width: 40px;
        border-radius: 100px;
        background-color: $borderLight;
        &.active{
            background-color: $borderDark;
        }
    }
}