@import "./../abstracts/variables";

.main-page{
    .video{
        height: 644px;
        color: $textLight;
        @include textStyle(16px, 24px, 400);
        background-image: url("./assets/images/img-hero.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 40px;
        @media (max-width: 650px) {
            height: 552px;
        }
        .content-container{
            margin-right: auto;
            padding-top: 101px;
            padding-left: 100px;
            max-width: 620px;
            // padding: 100px;
            height: 100%;
            // display: flex;
            // flex-direction: column;
            // align-items:start;
            // justify-content: center;
            @media (max-width: 850px) {
                padding-left: 60px;
            }
            @media (max-width: 650px) {
                padding-top: 60px;
                padding-left: 16px;
                padding-right: 10px;
            }



        }
        .video-title{
            @include textStyle(72px, 75.6px);
            margin-bottom: 40px;
           // @include titleAdaptive();
            height: auto;
            @media (max-width: 750px) {
                @include textStyle(42px, 48.3px);
            }
            // span{
                // color: $textAccent;
            // }
        }
        // .video-description{
        //     @include textStyle(16px, 24px);
        // }
        .video-description{
            margin-bottom: 40px;
        }
        .menu-button{
            @include textStyle(16px, 24px);
            width: 200px;
            height: 64px;
            border-radius: 100px;
            background-color: $backgroundBody;
            color: $textDark;
            @include tr;
            position: relative;
            &:hover{
                padding-right: 34px;
                &::after{
                    opacity: 1;
                }
            }
            &::after{
                content: '';
                top: 22px;
                right: 64px;
                background-image: url("./assets/icons/coffee-cup.svg");
                position: absolute;
                width: 20px;
                height: 20px;
                // border: 1px solid red;
                opacity: 0;
                @include tr;
            }
        }
    }
}