@import "./../abstracts/variables";

.main-page{
    .video{
        height: 644px;
        color: $textLight;
        @include textStyle(16px, 24px, 400);
        background-image: url("./assets/images/img-hero.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 40px;
        .content-container{
            margin-right: auto;
            padding-top: 101px;
            padding-left: 100px;
            width: 620px;
            // padding: 100px;
            height: 100%;
            // display: flex;
            // flex-direction: column;
            // align-items:start;
            // justify-content: center;
        }
        .video-title{
            @include textStyle(72px, 75.6px);
            margin-bottom: 40px;
        }
        // .video-description{
        //     @include textStyle(16px, 24px);
        // }
        .video-description{
            margin-bottom: 40px;
        }
        .menu-button{
            width: 200px;
            height: 64px;
            border-radius: 100px;
            background-color: $backgroundBody;
            color: $textDark;
        }
    }
}