@import "../abstracts/_variables.scss";

.main-page__footer{
    height: 830px;
    display: flex;
    justify-content: space-between;
    padding-top: 105px;
    // border: 1px solid red;
    .left-side{
        width: 50%;
        height: 100%;
        padding-top: 139px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        .footer-title{
            @include textStyle(60px, 75px);
            margin-bottom: 40px;
            padding-right: 60px;
        }
        .footer-description{
            @include textStyle(16px, 24px, 400);
            margin-bottom: 40px;
            padding-right: 60px;
        }
        // .buttons-block{


        // }


        button{
            height: 64px;
            width: 200px;
            border: 1px solid $borderDark;
            border-radius: 100px;
            margin-right: 16px;
            background-size: inherit;
    background-position-x: 20px;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: flex-start;
            .app-button__top{
                @include textStyle(10px, 14px);
                display: block;
                text-align: left;
                padding-left: 58px
    
            }
            .app-button__down{
                @include textStyle(16px, 24px);
                display: block;
                
                margin-top: 2px;
    
            }
            &.app-button__apple{
                background-image: url("./assets/icons/appstore.svg");
                .app-button__down{
                    padding-left: 5px;
                }
            }
            &.app-button__google{
                background-image: url("./assets/icons/googleplay.svg");
                .app-button__down{
                    padding-left: 20px;
                }
            }
        }

    }
    .right-side{
        background-image: url("./assets/images/mobile-screens.png");
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: right top;
        margin-top: -5px;
    }

}