@import "./../abstracts/variables";

.footer{
    // padding-left: 40px;
    // padding-right: 40px;
    padding-bottom: 20px;
    .container{
        display: flex;
        width: 1360px;
        background-color: $backgroundContainer;
        border-radius: 40px;
        height: 450px;
        padding-top: 100px;
        padding-left: 100px;

    }
    .left-side{
        height: 100%;
        width: 50%;
        padding-right: 30px;
        .footer-title{
            @include textStyle(60px, 75px);
            margin-bottom: 40px;
        }
        .soc {
            display: flex;
            li{
                margin-right: 12px;
            }
            span{
                display: block;
                width: 60px;
                height: 60px;
                border: 1px solid $borderLight;
                border-radius: 50%;
            }
            .insta{
                background-image: url("./assets/icons/instagram.svg");
                // background-color: aliceblue;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .face{
                background-image: url("./assets/icons/facebook.svg");
                background-size: contain;
                background-repeat: no-repeat;
            }
            .twit{
                background-image: url("./assets/icons/twitter.svg");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        

        
    }
    .right-side{
        height: 100%;
        width: 50%;
        padding-top: 32px;
        padding-left: 20px;
        @include textStyle(16px, 24px);
        color: $textLight;
        .right-side__title{
            @include textStyle(24px, 30px);
            margin-bottom: 40px;
        }
        .contacts{
            li{
                margin-bottom: 20px;
                padding-left: 28px;
            }
        }
    }

}