@import "../abstracts/_variables.scss";

// .main-header{
//     background-color: $backgroundBody;
//     .logo-button{
//         background-image: url("../../assets/icons/logo.svg");
//     }
//     .menu-button{
//         background-image: url("../../assets/icons/coffee-cup.svg");
//     }
// }

.main-header{
    .container{
        height: 100px;
    }
}
.main-menu{
    @extend %flex-element-center;
    @include textStyle(16px, 14px);
    color: $textDark;
    width: 100%;
    height: 100%;

    .logo-button{
        // border: 1px solid red;
        width: 100px;
        height: 60px;
        background-image: url("./assets/icons/logo.svg");
        // li:has(&){
        //     margin-right: auto;
        //     border: 1px solid green;
        // }
    }
    .menu-button{
        background-image: url("./assets/icons/coffee-cup.svg");
        // border: 1px solid red;
        width: 80px;
        text-align: left;
        background-position: right top;
        height: 20px;
        padding-top: 7px;

        }
    li{
        margin: 0 14px;
        &:nth-child(2){
            margin-left: 24px;
        }
    }
    li:has(.logo-button){
        margin-right: auto;
        margin-left: 0;
        // border: 1px solid green;
    }
    li:has(.menu-button){
        margin-left: auto;
        margin-right: 0;
        margin-top: -8px;
        // border: 1px solid green;
    }
}

// .logo-button{
//     border: 1px solid red;
//     width: 60px;
//     height: 100px;
//     background-image: url("../../assets/icons/logo.svg");
//     li:has(&){
//         margin-right: auto;
//         border: 1px solid green;
//     }
//     }

//     li:has(.logo-button){
//         border: 1px solid green;
//     