@import "../abstracts/_variables.scss";
@import "../components//animations";

// .main-header{
//     background-color: $backgroundBody;
//     .logo-button{
//         background-image: url("../../assets/icons/logo.svg");
//     }
//     .menu-button{
//         background-image: url("../../assets/icons/coffee-cup.svg");
//     }
// }

// %logo-button{
//     width: 100px;
//     height: 60px;
//     background-image: url("./assets/icons/logo.svg");
// }

.main-header {
    .container {
        height: 100px;
    }
    .logo-button {
        // border: 1px solid red;
        width: 100px;
        height: 60px;
        background-image: url("./assets/icons/logo.svg");
    }
    .main-menu {
        //@extend %flex-element-center;
        display: flex;
        justify-content: center;
        align-items: center;
        @include textStyle(16px, 14px);
        color: $textDark;
        width: 100%;
        height: 100%;
        // button{
        // border: 1px solid red;
        // }

        // .logo-button{
        //     // border: 1px solid red;
        //     width: 100px;
        //     height: 60px;
        //     background-image: url("./assets/icons/logo.svg");
        // li:has(&){
        //     margin-right: auto;
        //     border: 1px solid green;
        // }
        @media (max-width: 768px) {
            @include textStyle(32px, 40px);
            position: fixed;
            flex-direction: column;
            justify-content: space-around;
            right: -100%;
            top: 100px;
            z-index: 10;
            background-color: $backgroundBody;
            height: calc(100vh - 100px);
            transition: 1s;
            opacity: 0;
            li:has(.logo-button) {
                display: none;
            }
            .menu-button {
                width: 140px;
                text-align: left;
                background-position: right top;
                height: auto;
            }
            &.active {
                right: 0;
                opacity: 1;
            }
        }
        li {
            margin: 0 14px;
            // padding: 10px 0;
            &:nth-child(2) {
                margin-left: 24px;
            }
        }
    }
    .menu-button {
        background-image: url("./assets/icons/coffee-cup.svg");
        // border: 1px solid red;
        width: 80px;
        text-align: left;
        background-position: right top;
        height: 20px;
    }

    li {
        // margin: 0 14px;
        // // padding: 10px 0;
        // &:nth-child(2) {
        //     margin-left: 24px;
        // }
        .active {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: $textDark;
                bottom: -7px;
                left: 50%;
                @include tr;
            }
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    &::after {
                        // content: '';
                        // position: absolute;
                        width: 100%;
                        // height: 2px;
                        left: 0;
                    }
                    // border-bottom: 1px solid red;
                }
            }
        }
        .disable {
            cursor: auto;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $textDark;
                // bottom: 0;
                left: 0;
            }
        }
        // &:nth-child(n+1){
        // button{
        // padding: 10px 0;
        // &:hover{
        // border-bottom: 1px solid red;
        // }
        // }
        // }
    }
    li:has(.logo-button) {
        margin-right: auto;
        margin-left: 0;
        // border: 1px solid green;
        @media (max-width: 768px) {
            margin-right: 0;
            // position: absolute;
            // left: 0;
            // top: 20px;
        }
    }
    li:has(.menu-button) {
        margin-left: auto;
        margin-right: 0;
        @media (max-width: 768px) {
            margin-left: 0;
        }
    }
    // button.active{

    // }

    .mobile-menu {
        display: none;
        width: 100%;
        height: 100%;
        //   border: 1px solid green;
        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // flex-direction: column;
            // right: -100%;
        }
        .burger-button {
            position: relative;
            width: 44px;
            height: 44px;
            border: 1px solid $textDark;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
            @include tr;
            
            span {
                height: 2px;
                width: 18px;
                background-color: $borderDark;
                transform-origin: center;
                @include tr;
                animation-duration: 0;
                // &.burger-close{
                    &.animation{
                        animation-duration: 1s;
                    }
                    &.burger-button__span1{
                     //   animation-duration: 1s;
                        animation-name: burgerCloseSpan1;
                        animation-fill-mode: forwards;
                        animation-timing-function: linear ;
                        //animation: burgerCloseSpan1  linear forwards;
                    }
                    &.burger-button__span2{
                        animation: burgerCloseSpan2 1s linear forwards;
                    }
            //}
            }
            &.burger-open{
                .burger-button__span1{
                    animation: burgerOpenSpan1 1s linear forwards;
                }
                .burger-button__span2{
                    animation: burgerOpenSpan2 1s linear forwards;
                }
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background-color: $borderDark;
                    span {
                        background-color: $backgroundBody;
                    }
                }
            }
        }
    }
}

// .logo-button{
//     border: 1px solid red;
//     width: 60px;
//     height: 100px;
//     background-image: url("../../assets/icons/logo.svg");
//     li:has(&){
//         margin-right: auto;
//         border: 1px solid green;
//     }
//     }

//     li:has(.logo-button){
//         border: 1px solid green;
