@import '../components/label';
@import '../components/inputs';

.items-popup{
    position: fixed;
    right: -100%;
   // top: 10px;
   top: 50%;
   transform: translate(50%, -50%);
    max-width: 800px;
    min-height: 504px;
    z-index: 10;
    border-radius: 40px;
    padding: 16px;
    // border: 1px solid red;
    display: flex;
    background-color: $backgroundBody;
    @include tr;
    @include textStyle(16px, 24px, 400);
   // border: 1px solid black;
    @media screen and (max-width: 555px) {
       // padding-left: 0;
        width: 342px;
    }

    //transition: 1s;



    &.active{
        @include tr;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
//        transform: translate(50%, 50%);
      //  right: calc(50% - 400px);
        // @media screen and (max-width: 805px) {
        //     right: calc(50% - 344px);
            
        // }
        // @media screen and (max-width: 695px) {
        //     right: 2px;
        // }
    }

    .left-side{
        width: 310px;
      //  border: 1px solid green;
        .img-container{
            width: 310px;
            height: 310px;
            border-radius: 40px;
            overflow: hidden;
            @media screen and (max-width: 655px) {
                width: 250px;
                height: 250px;
            }

        }
        .left-side_img{

            scale: 1.1;
        }
        @media screen and (max-width: 655px) {
            width: 250px;
        }
        @media screen and (max-width: 555px) {
            display: none;
        }

    }

    .right-side{
      //  border: 1px solid blue;
        width: 458px;
        padding-left: 20px;
        @media screen and (max-width: 805px) {
            width: 346px;
        }
        @media screen and (max-width: 695px) {
            width: 310px;
        }
        @media screen and (max-width: 655px) {
            width: 270px;
          //  height: 250px;
        }
        @media screen and (max-width: 555px) {
            padding-left: 0;
            width: 100%;
           
        }

        .title{
            @include textStyle(24px, 30px);
            margin-bottom: 13px;
        }
        .description{
            margin-bottom: 20px;
        }
        .fieldset{
            border: none;
            padding: 0;
            padding-top: 7px;
            margin-bottom: 20px;
            @media screen and (max-width: 805px) {
                margin-bottom: 10px;
                
            }
        }
         .label{
            margin-right: 9px;
            &:last-child{
                margin-right: 0;
            }
        //     @include textStyle(16px, 24px);
            @media screen and (max-width: 805px) {
            margin-bottom: 10px;
            
            }
         }
         .total-price{
            @include textStyle(24px, 30px);
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            @media screen and (max-width: 805px) {
                margin-bottom: 20px;
                
            }
         }
         .popup-footer{
            position: relative;
            @include textStyle(10px, 14px);
            margin-bottom: 31px;
            padding-left: 24px;
            padding-top: 12px;
            border-top: 1px solid $borderLight;
            &::before{
                position: absolute;
                content: '';
                width: 16px;
                height: 16px;
                left: 1px;
                background-image: url("./assets/icons/info-empty.svg");;
            }
            @media screen and (max-width: 555px) {
                padding-top: 7px;
               // width: 342px;
            }
         }
        .close-button{
            //width: 438px;
            width: 100%;
            height: 44px;
            border: 1px solid $borderDark;
            border-radius: 100px;
            @include textStyle(16px, 24px);
            @include tr;
            // @media screen and (max-width: 805px) {
            //     width: 327px;

                
            // }
            &:hover{
                @include ActiveHover();
            }
        }
    }
}
.overlow{
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9;
    background-color: black;
    opacity: 0.7;
    // transition: opacity 1s;
    width: 0;
    transition: 1s;

}

.items-popup.active + .overlow{
    // position: absolute;
    // z-index: 9;
    // height: 100%;
    // width: 10px;
    // background-color: black;
    width: 100vw;

   // height: 100vh;

}


// .portal{
//     top: 0;
//     left: 0;
//     display: flex;
//     width: 100vw;
//     height: 100vh;
//     position: fixed;
//    // z-index: -1;
//     align-items: center;
//     justify-content: center;
//     background-color: red;
//     opacity: 0.5;
// }
