.container{
    @extend %container;
}

body{
    background-color: $backgroundBody;
}

.italic{
    font-style: italic;
    color: $textAccent;
}

button{
    border: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

input, label{
    cursor: pointer;
}
h1, h2{
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
    -webkit-user-select: none;
}