.container{
    @extend %container;
}

body{
    background-color: $backgroundBody;
}

.italic{
    font-style: italic;
}

button{
    border: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}