@import "../abstracts/_variables.scss";

.favorite{

    .slider-window{
        overflow-x: hidden;
        width: 480px;
     //   overflow: hidden;
    // border: 1px solid red;
     touch-action: pan-y pinch-zoom;
     margin: 0 auto;
    }

    .slider-content{
        display: flex;
        width: fit-content;
        position: relative;
        transition: 1s;
        max-width: 300%;
    }

    // .slider-indication{
    //     progress::-webkit-progress-bar {
    //             background-color: aqua;
    //           }
    //     progress::-webkit-progress-value {
    //             background-color: bisque;
    //           }
    //     }


    //     @keyframes move {
    //         from {
    //             value: 0;
    //         }
    //         to {
    //             vakue: 100;
    //         }
    //     }
        
    // progress{
    //     animation-duration: 3s;
    //     animation-name: move;
    //     animation-iteration-count: infinite;
    //     animation-timing-function: linear;
    //     border: 1px solid black;
    //     width: 50px;
    //     height: 50px;

    // }
    







}

progress{
    border-radius: 10%;
    transition: 1s;
}
progress::-webkit-progress-bar {
    background-color: $borderLight;
    //color:brown;
    border-radius: 10px;
    transition: 5s;
  }
progress::-webkit-progress-value {
    background-color: $borderDark;
   // color: chartreuse;
   border-radius: 10px;
   transition: 2s;
  }

  .test{
    &::-webkit-progress-value{
        transition: 10s;
    }
  }

  .progress{
    background-color: $borderDark;
    width: 0%;
    display: block;
    height: 4px;
    // transition: 5s;
    border-radius: 10px;
  }

  @keyframes progressAuto {
    from{
        width: 0%;

    }
    to{
        width: 100%;
    }
    
  }

