body{
    box-sizing: border-box;
    scroll-behavior: smooth;
    }

html{
    scroll-behavior: smooth;
}

*{
    -webkit-tap-highlight-color: transparent;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    }


ul[class],
ol[class],
menu[class]
 {
    padding: 0
    }


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
menu[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
fieldset{
    margin: 0;
    }


ul[class], menu[class] {
    list-style: none;
    }


img {
    max-width: 100%;
    display: block;
    }


input,
button,
textarea,
select {
    font: inherit;
    }

button{
    background-color: transparent;
    }

a{
    text-decoration-color: transparent;
    color: inherit;}

// h1, h2, h3
//     font-weight: 400