.counters-container{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 16px;

    .counter{
        
            width: 30px;
            height: 30px;
        //    border: 1px solid black;
       //     text-align: center;
      //      font-size: 2rem;
        //    font-family: Arial, Helvetica, sans-serif;
          //  font-weight: bold;
            background-color: bisque;
           // transition: 1s;
           font-size: 24px;
        
    }
    .delimiter{
        width: 30px;
        height: 30px;
        font-size: 24px;
    //    border-bottom: 1px solid black;
     //   text-align: center;
    //    font-size: 2rem;
      //  font-family: Arial, Helvetica, sans-serif;
    //    font-weight: bold;
     //   background-color: bisque;
    }

//     .counter-total{

//     }
//     .counter-curent{
        
//     }
 }