@import "./animation";

.counters-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 16px;

  .counter {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: bisque;
    font-size: 24px;
  }
  .delimiter {
    width: 30px;
    height: 30px;
    font-size: 24px;
  }
}
