@import  './../mainstyle';

.left-hints{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .row-hints{
        display: flex;
        border-top: 1px solid $cellBorder;
        &.left-hint__border{
            border-bottom: 1px solid $cellBorder;
        }
        .left-hint{
            text-align: center;
            //padding-right: 5px;
            width: 20px;
            height: 20px;
            border-right: 1px solid $cellBorder;
            background-color: $cellNumberBackgraund;
        }
    }


}