body {
  box-sizing: border-box;
}

.button {
  margin: 0;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  height: 30px;
  width: 150px;
}
.button:hover {
  background-color: #dadada;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field .field__row {
  display: flex;
}
.field .field__row.border__row {
  border-top: 1px solid #8f8f8f;
}
.field .cell {
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #8f8f8f;
  border-right: 1px solid #8f8f8f;
}
.field .cell.border__column {
  border-left: 1px solid #8f8f8f;
}
.field .cell.shaded {
  background-color: #000000;
}
.field .cell.cross {
  position: relative;
}
.field .cell.cross::after {
  position: absolute;
  content: "";
  width: 130%;
  height: 2px;
  top: 0px;
  left: 1px;
  transform-origin: 0 0;
  transform: rotate(45deg);
  background-color: #000000;
}

.left-hints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.left-hints .row-hints {
  display: flex;
  border-top: 1px solid #8f8f8f;
}
.left-hints .row-hints.left-hint__border {
  border-bottom: 1px solid #8f8f8f;
}
.left-hints .row-hints .left-hint {
  text-align: center;
  width: 20px;
  height: 20px;
  border-right: 1px solid #8f8f8f;
  background-color: #dadada;
}

.top-hints {
  display: flex;
}
.top-hints .column-hints {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-left: 1px solid #8f8f8f;
}
.top-hints .column-hints.top-hint__border {
  border-right: 1px solid #8f8f8f;
}
.top-hints .column-hints .top-hint {
  text-align: center;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #8f8f8f;
  background-color: #dadada;
}

body {
  box-sizing: border-box;
}

.button {
  margin: 0;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  height: 30px;
  width: 150px;
}
.button:hover {
  background-color: #dadada;
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #8f8f8f;
}
.field-container .field__bottom {
  display: flex;
}

.modalWindow {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  transform: translate(50%, -50%);
  border: 1px solid #8f8f8f;
  background-color: #dadada;
  border-radius: 20px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  position: fixed;
  right: -100%;
  transition: 1s;
  z-index: 10;
}
.modalWindow.active {
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.overlay {
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 9;
  background-color: black;
  opacity: 0.7;
  width: 0;
  transition: 1s;
}

.modalWindow.active + .overlay {
  width: 100vw;
}

.levels .levels__select {
  width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.levels .levels__select:last-child {
  margin-right: 0;
}
.levels .levels__options:hover {
  background-color: black;
}

.buttons-container {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timer-container {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 32px;
}/*# sourceMappingURL=style.css.map */