@import  './../mainstyle';

.top-hints{
    display: flex;
  //  justify-content: right;
    .column-hints{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        border-left: 1px solid $cellBorder;
        &.top-hint__border{
            border-right: 1px solid $cellBorder;
        }
        .top-hint{
            text-align: center;
            width: 20px;
            height: 20px;
             border-bottom: 1px solid $cellBorder;
            background-color: $cellNumberBackgraund;
        }
    }
}