@import  './../variables';

.top-hints{
    display: flex;
  //  justify-content: right;
    .column-hints{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        border-left: 1px solid var(--main-border);
        &.top-hint__border{
            border-right: 1px solid var(--main-border);
        }
        .top-hint{
            text-align: center;
            width: 20px;
            height: 20px;
             border-bottom: 1px solid var(--main-border);
            background-color: var(--main-background);
            cursor: pointer;
            &.cross{
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 130%;
                    height: 1px;
                    top: 0px;
                    left: 1px;
                    transform-origin: 0 0;
                    transform: rotate(45deg);
                    background-color: var(--main-color);
                }
                &::before{
                    position: absolute;
                    content: '';
                    width: 130%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    transform-origin: 0 0;
                    transform: rotate(-45deg);
                    background-color: var(--main-color);
                }
            }
        }
    }
}