@import '../variables';

.levels{
    .levels__select{
        width: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 5px;
        -webkit-appearance: none;
        appearance: none;
        background-color:  var( --button-color);
        color: var(--text-color);
        transition: 0.5s;
        cursor: pointer;
        
        &:last-child{
            margin-right: 0;
        }
        @media screen and (max-width: 700px) {
            width: 125px;
        }
        &:hover{
            background-color: var(--button-hover);
        }

    }
    .levels__option{
        -webkit-appearance: none;
        appearance: none;
        padding: 10px;
 
        
        // &:hover{
            
        //     background-color: black;
        // }
    }

}