// .imgComponent:hover {   
//     animation: grow 30000ms ease;
//     cursor: pointer;
//     }
//     @keyframes grow {
//     0% {
//     transform: scale(1);
//     }
//     100% {
//     transform: scale(2);
//     }

    @keyframes hidden {
        0% {
        opacity: 1;
        }
        
        100% {
        opacity: 0;
        }
    }
    @keyframes visible{
            0% {
                opacity: 0;
                }
                
                100% {
                opacity: 1;
                }
    }

#frame{
        opacity: 1;
      //  cursor: pointer;
        transition: 1s ;
      
}

@keyframes burgerOpenSpan1{
    0% {}
    50% {
        transform: translateY(200%);
        }
    100%{
        transform: translateY(200%) rotate(45deg);
    }
}
@keyframes burgerOpenSpan2{
    0% { transform: translateY(0);}
    50% {
        transform: translateY(-200%);
        }
    100%{
            transform: translateY(-200%) rotate(-45deg) ;
        }
}

@keyframes burgerCloseSpan1{
    0% {transform: translateY(200%) rotate(45deg);}
    50% {
        transform: translateY(200%);
        }
    100%{}
}
@keyframes burgerCloseSpan2{
    0% { transform: translateY(-200%) rotate(-45deg);}
    50% {
        transform: translateY(-200%);
        }
    100%{
        transform: translateY(0) rotate(0) 
        }
}