@mixin ActiveHover(){
    background-color: $borderDark;
    border-color: $borderDark;
    color: $textLight;
    .icon{
        background-color: $backgroundBody;
        color: $textDark;
    }
}

.label{
    display: inline-flex;
    align-items: center;
    height: 46px;
    padding-left: 7px;
    padding-right: 15px;
    border: 1px solid $borderLight;
    border-radius: 100px;
    color: $textDark;

    @include textStyle(16px, 24px);
    @include tr;
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        border-radius: 50%;
        background-color: $borderLight;
        background-repeat: no-repeat;
        background-position: center;
        @include tr;
        // grid-template-columns: 2rem 20% 150px 1fr;
    }
    @media (hover: hover) and (pointer: fine) {
    &:hover{
        @include ActiveHover();
        // @extend %ActiveHover;
        // background-color: $borderDark;
        // border-color: $borderDark;
        // color: $textLight;
        // .icon{
        //     background-color: $backgroundBody;
        // }
    }
}
}

input:checked + label{
    @include ActiveHover();
    // background-color: $borderDark;
    // border-color: $borderDark;
    // color: $textLight;
    // .icon{
    //     background-color: $backgroundBody;
    // }
    //cursor: default;
    
}
input[type=radio]:checked + label{
    cursor: default;
}