@import "../abstracts/_variables.scss";

.coffee-item{
    height: 506px;
    width: 310px;
    border: 1px solid $borderLight;
    border-radius: 40px;
    color: $textDark;
    .img-container{
        height: 310px;
        width: 310px;
        border-radius: 40px;
        overflow: hidden;
        img{
            scale: 1.1;
            @extend %tr;
        }
        &:hover{
            img{
                scale: 1;
            }
        }
    }
    .text-content{
        padding: 20px;
        height: 196px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .title{
        @include textStyle(24px, 30px);
        margin-bottom: 12px;
    }
    .description{
        @include textStyle(16px, 24px, 400);
        margin-bottom: auto;

    }
    .price{
        // margin-top: auto;
        @include textStyle(24px, 30px);
        

    }

}