@keyframes letterIsOkSpan {
  from {
    height: 0px;
  }
  to {
    height: 55px;
  }
}
@keyframes openCharStep1 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-90deg);
  }
}
@keyframes openCharStep2 {
  from {
    transform: rotateY(-90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.wordContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.wordContainer .charContainer {
  width: 40px;
  height: 40px;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: bisque;
}
.wordContainer .charIsOpen {
  background-color: aqua;
}
@media screen and (max-width: 600px) {
  .wordContainer {
    gap: 5px;
  }
}

@keyframes letterIsOkSpan {
  from {
    height: 0px;
  }
  to {
    height: 55px;
  }
}
@keyframes openCharStep1 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-90deg);
  }
}
@keyframes openCharStep2 {
  from {
    transform: rotateY(-90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.buttonsContainer .button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: 1px solid dimgray;
  border-radius: 10px;
  transition: 1s;
  background-color: deepskyblue;
  color: dimgray;
}
.buttonsContainer .button:hover, .buttonsContainer .button:focus, .buttonsContainer .button.isLetterTrue, .buttonsContainer .button.isLetterFalse {
  background-color: dimgray;
  color: deepskyblue;
}
.buttonsContainer .button:hover, .buttonsContainer .button.isLetterTrue, .buttonsContainer .button.isLetterFalse {
  border-color: deepskyblue;
}
.buttonsContainer .button.isLetterTrue {
  position: relative;
  pointer-events: none;
}
.buttonsContainer .button.isLetterTrue .span1,
.buttonsContainer .button.isLetterTrue .span2 {
  display: block;
  position: absolute;
  width: 4px;
  border-radius: 10px;
}
.buttonsContainer .button.isLetterTrue .span1 {
  top: -5px;
  right: 35px;
  transform-origin: top;
  height: 0px;
  background-color: #00ff00;
  rotate: -20deg;
}
.buttonsContainer .button.isLetterTrue .span2 {
  top: -70px;
  right: -8px;
  height: 60px;
  transform-origin: bottom;
  rotate: 205deg;
}
.buttonsContainer .button.isLetterTrue .spanInside {
  display: block;
  width: 100%;
  background-color: #00ff00;
}
.buttonsContainer .button.isLetterFalse {
  pointer-events: none;
  position: relative;
}
.buttonsContainer .button.isLetterFalse .span1,
.buttonsContainer .button.isLetterFalse .span2 {
  position: absolute;
  display: block;
  width: 4px;
  border-radius: 10px;
  transform-origin: top;
  height: 0px;
  background-color: #ff0000;
}
.buttonsContainer .button.isLetterFalse .span1 {
  top: -3px;
  right: 33px;
  rotate: -40deg;
}
.buttonsContainer .button.isLetterFalse .span2 {
  top: -3px;
  right: 0px;
  rotate: 40deg;
}
@media screen and (max-width: 600px) {
  .buttonsContainer {
    gap: 10px;
  }
}

.modalWindow {
  width: 500px;
  height: 300px;
  border: 1px solid dimgray;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 30px 20px 30px;
  position: fixed;
  right: 100%;
  top: 100px;
  background-color: deepskyblue;
  color: dimgray;
}
.modalWindow.active {
  right: 0;
}
.modalWindow .title {
  font-size: 2rem;
  margin-bottom: 40px;
}
.modalWindow .description {
  margin-bottom: 20px;
}
.modalWindow .word {
  margin-bottom: 20px;
}
.modalWindow .buttons {
  margin-top: auto;
}

@keyframes letterIsOkSpan {
  from {
    height: 0px;
  }
  to {
    height: 55px;
  }
}
@keyframes openCharStep1 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-90deg);
  }
}
@keyframes openCharStep2 {
  from {
    transform: rotateY(-90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.counters-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
.counters-container .counter {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: bisque;
  font-size: 24px;
}
.counters-container .delimiter {
  width: 30px;
  height: 30px;
  font-size: 24px;
}

.quest-output {
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
}
.app-container .app-container__top {
  display: flex;
}
.app-container .app-container__top-rigth {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .app-container .app-container__top {
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
}

.picture-container {
  width: 50%;
}/*# sourceMappingURL=style.css.map */