@import './variables';

body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--bodyBackground);
    color: var(--text-color);
    transition: 1s;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    // back
     //ground-color: aqua;
     margin: 0;
     border: 1px solid var(--main-border);
     background-color: var(--button-color);
     color: var(--text-color);
     border-radius: 10px;
    //  margin-top: auto;
    //  margin-top: 30px;
     cursor: pointer;
      transition: 1s;
      height: 30px;
      width: 150px;
      &:hover{
          background-color: var(--button-hover) //#aadad0//var(--main-background);
      }
      &:disabled{
        background-color: var(--main-background);
        pointer-events: none;
      }
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}
.main-container{
    display: flex;
    justify-content: center;
    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
}

h1, h2{
    margin: 10px auto;
}

.settings-container{
    display: flex;
    justify-content: space-around;
}